[Desktop Entry]
Categories=Network;Email;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %u
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
MimeType=x-scheme-handler/mailto;
StartupWMClass=Helix
